@import "../../assets/variables/colors";
@import "../../assets/variables/fonts";

.login {
  min-height: 100vh;
}


.login-heading{
  font-family: $preferred-font;
  font-size: 22px;
  color: black;
}

.carousel{
  padding: 0 0 !important;
  margin: 0 0 !important;
  background: url("../../assets/images/carousel-third.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.show-password-button{

  &:hover, &:focus {
    outline: none;
    border: none;
  }

}
