
.user-comments-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;

  .comments-button{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
.comments-list{
  padding: 1rem;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
