@import "../../assets/variables/colors";
@import "../../assets/variables/fonts";

.add-item-container{
  margin:2rem;
  font-family: $logo-font;
  font-size: 20px;
  color: black;

  .add-item-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    &.buttons{
      margin-top: 2rem;
    }

  }

  .step-content{
    padding: 0 8px;
    display: flex;
    flex-direction: column;
  }
  .step-button{
    padding: 0 8px;
  }





}
