@import "../../assets/variables/colors";
@import "../../assets/variables/fonts";


.content{
  position: relative;
  top: 2rem;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin-top: 4rem;
}
