

.user-items-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.items-container{
  display: flex;
  justify-content: center;
  width: 100%
}
