



$basic-grey-color : #F0EFEB;
$basic-grey-dark : rgba(0, 0, 0, 0.7);
$basic-beige-dark : #cb997e;
$basic-beige-normal : #ddbea9;
$basic-beige-light : #eddcd2;
$basic-beige-light-first: #ffe8d6;
$basic-peach : #fff1e6;
$basic-light-green: #b7b7a4;
$basic-medium-green: #a5a58d;
$basic-dark-green : #6b705c;
$warning: #d43900;
$error: #5F2120;
$disabled: #ccccc5;
$success: #83d39a;

