.carousel-item {
  height: 100vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
    color: black;
    width: auto;
    top: 50% !important;
    transform: translateY(-50%);
    text-align: end;
    bottom: initial;

  @media (max-width: 767px) {
    top: 30% !important;
  }
}

.carousel-indicators {
  top: 90% !important;
  transform: translateY(-50%);
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

img{
  max-width: 100%;
  height: auto;
}


//.carousel-inner > .item > img {
//  position: absolute;
//  top: 0;
//  left: 0;
//  min-width: 100%;
//  height: 500px;
//}
